<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.zmj.kotlinmall">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--定义发送广播的权限-->
    <permission android:name="com.zmj.kotlinmall.SEND_NET_INFO" android:protectionLevel="signature"/>
    <!--声明发送广播的权限-->
    <uses-permission android:name="com.zmj.kotlinmall.SEND_NET_INFO"/>
    <!--定义发送广播的权限-->
    <permission android:name="com.zmj.kotlinmall.RECEIVE_NET_INFO" android:protectionLevel="signature"/>
    <!--定义发送广播的权限-->
    <uses-permission android:name="com.zmj.kotlinmall.RECEIVE_NET_INFO"/>

    <application
            android:name=".App"
            android:allowBackup="false"
            tools:replace="android:allowBackup"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="false">

        <!--此receiver，可以动态在代码中进行注册-->
        <receiver android:name=".broadcast.NetChangeReceiver"
                  android:permission="com.zmj.kotlinmall.RECEIVE_NET_INFO"
                  android:exported="false">
            <intent-filter android:priority="100"> <!--设置传播的优先级，越高越容易被接收到-->
                <action android:name="com.zmj.kotlinmall.MY_ACTION"/>
                <!--action android:name="android.net.conn.CONNECTIVITY_CHANGE"/-->
                <!--action android:name="android.net.wifi.WIFI_STATE_CHANGED"/-->
                <!--action android:name="android.net.wifi.STATE_CHANGE"/-->
            </intent-filter>
        </receiver>

        <!--receiver android:name=".broadcast.ReceiveNetBroadcastByStatic">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.zmj.test.DIY_BROADCSAT"/>
            </intent-filter>
        </receiver-->

        <activity android:name=".learnUIPartice.MainUiPracticeAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--bottomSheet-->
        <activity android:name=".bottomsheet.TestBottomSheet"/>

        <!--自定义View测试-->
        <activity android:name=".broadcast.SendBroadCastActivity"/>

        <activity android:name=".learnUI.SelfViewAct"/>



        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name="com.zmj.usercenter.ui.activity.RegisterActivity"/>
        <activity android:name=".binder.BinderTestActivity"/>

        <service android:name=".binder.RemoteService"
                 android:enabled="true"
                 android:exported="true"
                 android:process=":remote"/>
    </application>


</manifest>